@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
}

button {
  padding: 2rem 4rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: transparent;
  border: 3px solid #fff;
  margin: 0 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #000;
}

section {
  margin: 10rem 5%;
}

.banner {
  background-image: url(./imgs/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
  background-size: cover;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 5%;
}

header .logo a {
  font-size: 2rem;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: #fff;
  font-size: 1.6rem;
  margin-left: 4rem;
  font-weight: 700;
}

i.fa-ellipsis-h {
  font-size: 4rem;
  display: none;
  color: #fff;
}

.hero-area {
  text-align: center;
  margin: 10rem auto;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-area h1 {
  font-size: 5rem;
  color: #fff;
  font-weight: 900;
  margin: 15rem 0 5rem 0;
  text-transform: uppercase;
}

.hero-area p {
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #fff;
  text-align: center;
  margin-bottom: 3rem;
}

.btns {
  margin-bottom: 20rem;
  margin-top: 2rem;
}

/* Services Section */
.service-section h1.title {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  margin-bottom: 15rem;
}

.services {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services .service {
  max-width: 25%;
  border: 3px solid #000;
  padding: 5rem 3rem;
  text-align: center;
}

.services .service h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: 4rem 0;
}

.services .service p {
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin: 3rem 0;
}

.services .service button {
  filter: invert(100%);
  margin-top: 5rem;
}

footer {
  height: 10rem;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
  padding: 0 5%;
}

footer .fab {
  font-size: 2.5rem;
  margin-right: 2rem;
}

.fa-instagram {
  color: #c13584;
}

.fa-linkedin-in {
  color: #2867b2;
}

.fa-twitter-square {
  color: #1da1f2;
}

.copyright {
  font-size: 1.8rem;
}

@media (max-width: 1170px) {
  .services .service {
    max-width: 30%;
  }
}

@media (max-width: 768px) {
  .hero-area {
    padding: 0 5%;
  }

  .services {
    justify-content: center;
  }
  .services .service {
    max-width: 40%;
  }
}

@media (max-width: 576px) {
  .services .service {
    max-width: 60%;
    margin-top: 2rem;
  }
  header nav {
    display: none;
  }
  i.fa-ellipsis-h {
    display: inline-block;
  }

  .hero-area h1 {
    margin-top: 5rem;
  }
}

@media (max-width: 450px) {
  .services .service {
    max-width: 80%;
  }
  button {
    margin-top: 1.5rem;
  }

  .hero-area h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }
  .hero-area p {
    margin: 1rem 0;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  footer {
    justify-content: center;
    flex-direction: column;
  }
  footer .social {
    margin-bottom: 2rem;
  }
}
